<ag-grid-angular
  style="width: 500px; height: 500px;"
  class="ag-theme-quartz"
  [rowData]="rowData"
  [columnDefs]="columnDefs">
</ag-grid-angular>

<swal
  #deleteSwal
  title="Delete?"
  text="This cannot be undone"
  icon="question"
  [timer]="2000"
  [showConfirmButton]="false"
  (confirm)="true">
</swal>

<div class="card mb-2 animate__animated animate__fadeIn">
  <div class="card-body p-3">
    <div class="col-12">
    <button [swal]="deleteSwal">
      <!-- <i class="bi bi-0-circle"></i>Do it! -->
    </button>
    </div>
  </div>
</div>