<ag-grid-angular
  style="width: 500px; height: 500px;"
  class="ag-theme-quartz"
  [rowData]="rowData"
  [columnDefs]="columnDefs">
</ag-grid-angular>

<swal
  #deleteSwal
  title="Delete?"
  text="This cannot be undone"
  icon="question"
  [timer]="2000"
  [showConfirmButton]="false"
  (confirm)="true">
</swal>

<div class="card">
  <div class="card-body">
    <div class="col-12" style="display: grid; justify-content: end;">
    <button [swal]="deleteSwal">
      Do it!
    </button>
    </div>
  </div>
</div>