<div class="card custom-card mb- animate__animated animate__fadeIn " style="
    top: -0.6rem;">
  <div class="card-body p-2" style="margin-bottom:1rem;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex justify-content-between align-items-center mb-2 ms-2 px-2" style="margin-top: 0.625rem">
      <p class="text-title fw-bold mb-0 d-flex justify-content-between align-items-center">
        {{ "menu_usermanage_account" | translate }}
      </p>
      <button type="submit" class="btn btn-primary" (click)="onAddUserClick()">
        <i class="bi bi-person-fill-add"></i>
        เพิ่มบัญชีผู้ใช้
      </button>
    </form>

    <div *ngFor="let value of filteredData" class="card custom-card mb-3 p-4" style="top:0.75rem;">
      <div class="row">
        <div class="col-12 col-md-5">
          <div class="row">
            <div class="col-12 col-sm-5 text-start ps-5">{{ value.email }}</div>
            <div class="col-12 col-sm-7 text-start ps-5">{{ value.teacher_code }}</div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12 col-sm-7 text-start ps-3">{{ value.prefix }} {{ value.firstname }} {{ value.lastname }}</div>
            <div class="col-12 col-sm-5 text-center ps-1">{{ getRoleTitle(value.role) }}</div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-12 col-sm-6 text-end">{{ getStatusTitle(value.active_status) }}</div>
            <div class="col-12 col-sm-6 d-flex justify-content-end align-items-center">
              <button class="btn btn-text-blue min-w-1.25rem p-0" (click)="openModal(value)">
                <i class="bi bi-pencil-square" style="color: #0d00ff"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-edit
  [show]="isModalVisible"
  [selectedRowData]="selectedRowData"
  [statusOptions]="statusOption"
  [roleOptions]="roleOption"
  (hide)="closeModal()"
  (submit)="handleModalSubmit($event)"
>
</app-modal-edit>
<!-- </div> -->
