<div class="card custom-card mb- animate__animated animate__fadeIn">
  <div class="card-body p-2">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="d-flex justify-content-between align-items-center mb-2 ms-2 px-2" style="margin-top: 0.625rem;"
    >
      <p class="text-title fw-bold mb-0 d-flex justify-content-between align-items-center">{{ "menu_usermanage_account" | translate }}</p>
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-person-fill-add"></i>
        เพิ่มบัญชีผู้ใช้
      </button>
    </form>

    <div *ngFor="let value of data" class="card custom-card mb-3 p-3">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="row">
              <div class="col-12 col-sm-5 text-start ps-4">{{ value.citizenId }}</div>
              <div class="col-12 col-sm-7 text-start ps-4">{{ value.prospectFullName }}</div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-12 col-sm-7 text-start ps-4">{{ value.corpStatus }}</div>
              <div class="col-12 col-sm-5 text-center">{{ value.saleType }}</div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="row">
              <div class="col-12 col-sm-6 text-end">{{ value.createDate }}</div>
              <div class="col-12 col-sm-6 d-flex justify-content-end align-items-center">
                <a [routerLink]="['#', value.prospectId]">
                  <button
                    type="button"
                    class="btn btn-text-blue min-w-1.25rem p-0"
                  >
                    <i class="bi bi-pencil-square" style="color: #0d00ff"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
