<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#announceScoreModal"
>
  Launch static backdrop modal
</button>
<app-modal-send-mail></app-modal-send-mail>
<p>score-announcement works!</p>
<br />
<p>ตัวอย่างการใช้ Translate ปกติ</p>
<p>{{ "menu_masterdata" | translate }}</p>
<br />
<p>ตัวอย่างการใช้ Translate + parameter</p>
<p>{{ "welcome_message" | translate : { username: "Admin" } }}</p>
<br />
<p>ตัวอย่าง reponse language ของภาษา อังกฤษ</p>
<pre>
     {{ jsonString }}
</pre>
