<!-- <app-top-nav (navToggle)="onNavToggle($event)"></app-top-nav>
<app-side-nav
  [isOpen]="isNavOpen"
  (navToggle)="onNavToggle($event)"
></app-side-nav> -->
<div class="body-container" [ngClass]="{ 'sidenav-open': isOpen }">
  <app-top-nav
    *ngIf="!isLoginPage"
    [isOpen]="isOpen"
    (toggle)="toggleNav()"
  ></app-top-nav>
  <app-side-nav
    *ngIf="!isLoginPage"
    [isOpen]="isOpen"
    (toggle)="toggleNav()"
  ></app-side-nav>
  <main
    class="content"
    [class.content-with-sidenav]="isOpen"
    [class.content-full-width]="!isOpen"
  >
    <router-outlet></router-outlet>
  </main>
  <app-footer [isOpen]="isOpen"></app-footer>
</div>
