/* Backgrounds */
.custom-bg {
  background-image: url("/assets/background/bg_login.png");
}

.custom-card {
  height: 781px;
  width: 1246px;
  max-width: 100%;
  border-radius: 20px;
  background-image: none;
  background-position: left;
  background-repeat: no-repeat;
}

/* Login Page Styles */
body.login-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

body.login-page .custom-card {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Text Overlay */
.text-overlay {
  color: #ffffff;
  text-align: center;
}

/* Buttons */
.btn-success {
  background-color: #006664;
  border: none;
}

.btn-success:hover {
  background-color: #005946;
}

.btn-success:disabled {
  background-color: #00755e33;
  /* color: #666666; */
}

/* Form Styles */
.form-control {
  border: 1px solid #006c68;
  color: #005946;
  font-size: 16px;
}

.form-control:focus {
  border-color: #006c68;
  box-shadow: 0 0 0 0.2rem rgba(0, 108, 104, 0.25);
  outline: none;
}

/* Typography */
.title-head {
  color: #006c68;
  font-size: 30px;
}

.title {
  color: #006c68;
  font-size: 18px;
}

.title-form {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 2.5rem;
  color: #505050;
}

.form-label {
  font-size: 18px;
  color: #505050;
}

/* Error Messages */
.error-message {
  margin: 0.5rem 0;
  color: red;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  /* Medium screens */
  .custom-card {
    background-image: none; 
    height: auto; 
    width: 90%; 
    margin: 0 auto;
    padding: 1rem; 
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  /* iPad Pro and medium desktop screens */
  .custom-card {
    background-image: url("/assets/other/scenery/md-screen.png");
    background-position: left;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1366px) {
  /* Large desktop screens */
  .custom-card {
    background-image: url("/assets/other/scenery/lg-screen.png");
    background-position: left;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  /* Small screens */
  .custom-card {
    height: auto;
    width: 95%; 
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .title-form {
    margin: 1rem; 
    font-size: 1.2rem;
    text-align: center;
  }
}