/* Default title menu */
.title-menu {
  flex: 1;
  /* text-align: left; */
  transition: transform 0.3s;
  padding: 0.625rem 0.625rem;
}

/* เมื่อ side nav เปิด */
.title-menu.nav-opened {
  transition: transform 0.3s;
  transform: translateX(250px); /* ขยับกึ่งกลางจาก side-nav 250px */
}
