.modal-header.bg-dark-blue {
  background-color: #03a96b;
}

.bg-light-green {
  background-color: #b9eccc;
}

.text-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.is-valid {
  border-color: #28a745; 
  background-color: #d4edda;
}

.is-invalid {
  border-color: #dc3545; 
  background-color: #f8d7da;
}

.text-success {
  color: #28a745;
}

.swal2-popup{
  font-family: 'Promt', sans-serif;
}

.swal2-title{
  font-size: 1.5rem;
}

@keyframes modelShow{
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal.fade .modal-dialog {
  animation: modalShow 0.3s ease-out forwards;
}

@keyframes modalHide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

.modal.fade.hide .modal-dialog {
  animation: modalHide 0.3s ease-out forwards;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-overlay.show {
  display: block;  /* แสดงผลเมื่อ modal เปิด */
  opacity: 1;      /* เปลี่ยนความมืดของพื้นหลัง */
}

.modal-content {
  border: none !important;
  box-shadow: none !important;
}
