.modal-header.bg-dark-blue {
  background-color: #03a96b;
}

.bg-light-green {
  background-color: #b9eccc;
}

.text-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.is-valid {
  border-color: #28a745; /* สีเขียว */
  background-color: #d4edda;
}

.is-invalid {
  border-color: #dc3545; /* สีแดง */
  background-color: #f8d7da;
}

.text-success {
  color: #28a745; /* สีเขียว */
}

.swal2-popup{
  font-family: 'Promt', sans-serif;
}

.swal2-title{
  font-size: 1.5rem;
}

/* ลบสิ่งที่ไม่จำเป็นออกไป */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translate(0, -50px); /* ปรับการแสดงผลให้เป็นไปตามที่ Bootstrap ต้องการ */
  opacity: 0;
}

.modal.fade.show .modal-dialog {
  transform: translate(0, 0);
  opacity: 1;
}

.modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}

.modal-overlay.show {
  opacity: 1;
  display: block; 
}

/* ปรับคลาส modal และ modal-dialog */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
}

.modal.fade.show .modal-dialog {
  transform: translate(0, 0);
  opacity: 1;
}

.modal-content {
  border: none !important;
  box-shadow: none !important;
}

/* .modal-backdrop {
  background-color: transparent !important;
} */

/* .my-custom-class {
  background-color: #007bff !important;
  color: #ffffff !important;    
  border-radius: 5px;               
  border: none;                      
} */
