<div
  class="modal fade"
  tabindex="-1"
  [ngClass]="{ show: show }"
  [style.display]="show ? 'block' : 'none'"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header bg-dark-blue text-white">
        <h5 class="modal-title fw-bold" id="modalLabel">จัดการผู้ใช้งาน</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          aria-label="Close"
          (click)="onHide()"
        ></button>
      </div>

      <!-- Body -->
      <div class="modal-body overflow-auto p-0">
        <div class="bg-light-green">
          <p class="fw-bold mb-3 ps-3">ข้อมูลบัญชีผู้ใช้</p>
        </div>
        <form [formGroup]="form">
          <!-- Row 1 -->
          <div class="container">
            <div class="row g-2 mb-3">
              <!-- ชื่อโอกาสขาย -->
              <div class="col-6 col-md-4">
                <label for="teacher_code" class="form-label ps-2"
                  >รหัสอาจารย์</label
                >
                <input
                  type="text"
                  id="teacher_code"
                  class="form-control"
                  formControlName="teacher_code"
                  placeholder="กรุณากรอก"
                />
                <div
                  *ngIf="
                    form.get('teacher_code')?.dirty &&
                    form.get('teacher_code')?.invalid
                  "
                  class="text-danger ps-2"
                >
                  กรุณากรอกข้อมูล
                </div>
              </div>

              <div class="col-6 col-md-4">
                <label for="email" class="form-label ps-2">อีเมล</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="กรุณากรอก"
                />
                <div
                  *ngIf="
                    form.get('email')?.dirty &&
                    form.get('email')?.hasError('email')
                  "
                  class="text-danger ps-2"
                >
                  กรุณากรอกอีเมลที่ถูกต้อง
                </div>
              </div>

              <div class="col-6 col-md-4">
                <label for="role" class="form-label ps-2">หน้าที่</label>
                <ng-select
                  [items]="role"
                  bindLabel="title"
                  bindValue="id"
                  placeholder="กรุณาเลือก"
                  formControlName="role"
                  [searchable]="true"
                >
                </ng-select>
                <div
                  *ngIf="form.get('role')?.dirty && form.get('role')?.invalid"
                  class="text-danger ps-2"
                >
                  กรุณากรอกข้อมูล
                </div>
              </div>

              <!-- <div class="row"></div> -->

              <div class="col-6 col-md-4">
                <label for="prefix" class="form-label ps-2">คำนำหน้าชื่อ</label>
                <input
                  type="text"
                  id="prefix"
                  class="form-control"
                  formControlName="prefix"
                  placeholder="กรุณากรอก"
                />
                <div
                  *ngIf="
                    form.get('prefix')?.dirty && form.get('prefix')?.invalid
                  "
                  class="text-danger ps-2"
                >
                  กรุณากรอกข้อมูล
                </div>
              </div>

              <div class="col-6 col-md-4">
                <label for="firstname" class="form-label ps-2">ชื่อ</label>
                <input
                  type="text"
                  id="firstname"
                  class="form-control"
                  formControlName="firstname"
                  placeholder="กรุณากรอก"
                />
                <div
                  *ngIf="
                    form.get('firstname')?.dirty &&
                    form.get('firstname')?.invalid
                  "
                  class="text-danger ps-2"
                >
                  กรุณากรอกข้อมูล
                </div>
              </div>

              <div class="col-6 col-md-4">
                <label for="lastname" class="form-label ps-2">นามสกุล</label>
                <input
                  type="text"
                  id="lastname"
                  class="form-control"
                  formControlName="lastname"
                  placeholder="กรุณากรอก"
                />
                <div
                  *ngIf="
                    form.get('lastname')?.dirty && form.get('lastname')?.invalid
                  "
                  class="text-danger ps-2"
                >
                  กรุณากรอกข้อมูล
                </div>
              </div>
            </div>
          </div>

          <div class="bg-light-green">
            <p class="fw-bold mb-3 ps-3">ข้อมูลเพิ่มเติม</p>
          </div>

          <div class="container">
            <div class="row g-3 mb-4">
              <div class="col-6 col-md-4">
                <label for="password" class="form-label ps-2">รหัสผ่าน</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                  [ngClass]="{
                    'is-valid':
                      form.get('password')?.valid &&
                      form.get('password')?.dirty,
                    'is-invalid':
                      form.get('password')?.invalid &&
                      form.get('password')?.dirty
                  }"
                  placeholder="กรุณากรอก"
                />

                <div
                  *ngIf="
                    form.get('password')?.dirty && form.get('password')?.invalid
                  "
                  class="text-danger ps-2"
                >
                  <!-- แสดงข้อผิดพลาดจาก Validator -->
                  <div *ngIf="form.get('password')?.hasError('minLength')">
                    {{ form.get("password")?.getError("minLength") }}
                  </div>
                  <div
                    *ngIf="
                      form
                        .get('password')
                        ?.hasError('hasEnglishAndSpecialCharacters')
                    "
                  >
                    {{
                      form
                        .get("password")
                        ?.getError("hasEnglishAndSpecialCharacters")
                    }}
                  </div>
                </div>
              </div>

              <div
                *ngIf="form.contains('confirm_password')"
                class="col-6 col-md-4"
              >
                <label for="confirm_password" class="form-label ps-2"
                  >ยืนยันรหัสผ่าน</label
                >
                <input
                  type="password"
                  id="confirm_password"
                  class="form-control"
                  [ngClass]="{
                    'is-valid':
                      form.get('confirm_password')?.valid &&
                      form.get('password')?.value ===
                        form.get('confirm_password')?.value,
                    'is-invalid':
                      form.get('confirm_password')?.dirty &&
                      form.get('confirm_password')?.invalid
                  }"
                  formControlName="confirm_password"
                  placeholder="กรุณายืนยันรหัสผ่าน"
                />

                <!-- แสดงเมื่อรหัสผ่านไม่ตรงกัน หลังจากคลิก submit -->
                <div
                  *ngIf="
                    submitted &&
                    form.hasError('passwordMismatch') &&
                    form.get('confirm_password')?.value
                  "
                  class="text-danger ps-2"
                >
                  รหัสผ่านไม่ตรงกัน
                </div>

                <!-- แสดงข้อความเมื่อรหัสผ่านตรงกัน -->
                <div
                  *ngIf="
                    form.get('password')?.value ===
                      form.get('confirm_password')?.value &&
                    form.get('confirm_password')?.valid
                  "
                  class="text-success ps-2"
                ></div>
              </div>

              <div class="col-6 col-md-4">
                <label for="active_status" class="form-label ps-2"
                  >สถานะการใช้งาน</label
                >
                <ng-select
                  [items]="active_status"
                  bindLabel="title"
                  bindValue="id"
                  placeholder="กรุณาเลือก"
                  formControlName="active_status"
                  [searchable]="true"
                >
                </ng-select>
                <div
                  *ngIf="
                    form.get('active_status')?.dirty &&
                    form.get('active_status')?.invalid
                  "
                  class="text-danger ps-2"
                >
                  กรุณากรอกข้อมูล
                </div>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="d-flex justify-content-center pt-3">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">
              <i class="bi bi-floppy-fill me-2"></i>บันทึกข้อมูล
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
